.footer 
  width: 100%

.contato
  margin-top: 2rem
  padding: 4rem 0
  background: #1e165e
.copyright
  padding: 1rem
  text-align: center
  font-size: .8rem
  color: #90939b
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.2)
.form
    height: auto
    background: #fff
    padding: 3rem  !important
    margin: 2rem 2rem
    max-width: 380px
    width: 100%
    border-radius: .6rem
.header
    padding: 1rem 1rem
    text-align: center
    h2
      font-size: 1.8rem
      font-weight: bold !important
      font-weight: normal
      color: #1e165e
    p
      font-size: 1.15rem
      margin-top: 0rem
      color: #c0c5d3
.field
  margin-top: .5rem
  width: 100%
  label
    font-weight: 300
    padding: .3rem .2rem .1rem 
    display: block !important
    text-align: left
    font-size: 1rem
    color: #1e165e
  input ,textarea
    padding: .7rem .7rem
    display: block !important
    border-radius: .3rem
    width: calc( 100% - 1.5rem )
    background: #ffffff33
    border: 0 
    color: #1e165e
    border: 1px solid rgba(81, 85, 94, 0.2)
    clear: both
    font-size: 1rem
    &:focus
      outline: none
      background: #fffbf9
      border-color: #ff5e00 !important
  textarea
    min-height: 80px
    font-family: 'Hind', sans-serif
  button
    margin: 1rem 0 0
    padding: .8rem .8rem .7rem
    border: 0 solid rgba(0,0,0,0)
    font-size: 1rem
    color: #fff
.logo 
  height: 1em
  margin: 5px
.descricao
  color: #fff
.box
  width: 80%
  padding:  0 10%
  margin: auto
  color: #fff
  h2
    margin-bottom: 1rem
    font-size: 3.1rem
    font-weight: 600
  h3
    margin-bottom: 1rem
    font-size: 1.3rem
    font-weight: 400
  p
    opacity: .9
    margin-bottom: 3rem
    font-weight: 300