.header
    display: flex
    position: relative
    z-index: 1
    margin-top: 2rem
    width: calc( 100% )
.services
    width: 100%
    background: #1e165e
    box-shadow: inset 0 -2px 1px 0 #fbfcff05
    display: flex
.redes
    margin-right: 1rem
    margin-left: auto
    padding: .2rem .2rem
    display: flex
    .admin
        transition: opacity .2s
        color: #ffffff
        display: block
        line-height: 32px
        font-size: .8rem
        padding: 0 .5rem
        border: 0 solid rgba(0,0,0,0)
        background: linear-gradient(50deg, #5cb9dd, #076cdf)
        height: 30px !important
        border-radius: .6rem
        margin: .2rem !important
        cursor: pointer
        opacity: .9
        position: relative
        &:hover
            opacity: 1
            background: linear-gradient(-50deg, #5cb9dd, #076cdf)
    .btn
        color: #f6faff
        font-size: 1rem
        display: block
        line-height: 35px
        width: 30px !important
        height: 30px !important
        text-align: center
        border-radius: 100%
        margin: .2rem !important
        cursor: pointer
        position: relative
        i
            z-index: 9
            position: relative
        &:hover
            color: #ddfbff
            background: linear-gradient(50deg, #5cb9dd, #076cdf)
            &::after
                padding: 0
.menuRight
    display: flex
    margin-left: auto
    margin-right: .2rem
    ul
        display: flex
        flex-wrap: wrap
        padding: 1.2rem 
        li
            cursor: pointer
            font-weight: 500
            padding: 0 1rem 0
            margin: 0 .2rem
            display: flex
            font-size: 1rem
            list-style: none 
            border: 2px solid #ffffff00
            &:hover
            p
                padding-top: .2rem
                margin: auto
                color: #151c33
            &:hover
                p
                    color: #183ba8
            &:nth-last-child(1)
                border: 0
                border-radius: .3rem .3rem
                background: linear-gradient(50deg, #5cb9dd, #076cdf)
                p
                    color: #fff !important
                &:hover
                    background: linear-gradient(50deg, #5cb9dd, #076cdf)
                    border: 0
                    color: #fff !important
                    p
                        color: #fff !important
            &:hover
                color: #5cb9dd !important

.menuLeft
    display: flex
    margin-right: auto
    margin-left: 2rem
    ul
        margin-top: .5rem
        display: flex
        flex-wrap: wrap
        padding: 1rem 
        li
            cursor: pointer
            font-weight: 500
            padding: 0 .2rem 0
            margin: 0 .5rem
            display: flex
            font-size: 1rem
            list-style: none 
            border: 2px solid #ffffff00
            p
                margin: auto
            
                color: #151c33
            &:hover
                p
                    color: #183ba8
            &:hover
                color: #5cb9dd !important

.logo
    padding: .8rem .5rem
    display: flex
    img
        margin: auto
    