.parceiros
  background: rgb(238, 242, 244 )
  width: 100% !important
  height: 75vh
.noticias 
  display: grid
  grid-area: 1rem
  grid-template-columns: 1fr 1fr 1fr 
  .card 
    box-shadow: 0 0 3px 2px #ffffff2d
    margin: 1rem
    img
      width: 100%