html,body 
  padding: 0
  margin: 0
  font-family: 'Hind', sans-serif
.slider
  background: #f7f9ff
  padding: 1rem
  height: 630px
  display: flex
  .text
    margin: auto
    max-width: 50vh
  .container
  .svg
    height: 50vh
    display: flex
    margin: auto auto auto 0
.container
  width: 100%
  max-width: 1300px
  margin: auto
.flex
  display: flex


